* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', 'sans-serif';
    box-sizing: border-box;
}

h1 {
    margin: 50px 0;
    text-align: center;
    text-transform: capitalize;
}

.container {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-section {
    width: 50%;
    padding: 0 5%;
    word-spacing: 10px;
    border: 1px solid blue;
}

.image-section img {
    width: 450px;
}

.image-section {
    padding: 0 5%;
    width: 50%;
    text-align: center;
    border: 1px solid red;
}


/* always write media queries at the bottom of the screen */


/* otherwise we will have problems */